@page "/patients/edit/{Id:int}"
@using Appointment.Shared.Entities;
@using Appointment.WEB.Repositories;
@using CurrieTechnologies.Razor.SweetAlert2;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar paciente</h3>

@if (patient is null)
{
    <p>Cargando...</p>
}
else
{
    <PatientForm @ref="patientForm" Patient="patient" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Patient? patient;
    private PatientForm? patientForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Patient>($"api/patients/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("patients");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            patient = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/patients", patient);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            patientForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("patient");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("patient");
    }
}
