
@page "/patients/create"
@using Appointment.Shared.Entities;
@using Appointment.WEB.Repositories;
@using Appointment.WEB.Pages;
@using CurrieTechnologies.Razor.SweetAlert2;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Paciente</h3>

<PatientForm @ref="patientForm" Patient="patient" OnValidSubmit="Create"
             ReturnAction="Return" />

@code {
    private Patient patient = new();
    private PatientForm? patientForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/patients", patient);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/patients");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/patients");
    }
}
